@font-face {
    font-family: 'AdventPro';
    src: url(../font/AdventPro-Regular.ttf);
    font-weight: 400;
}@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Bold.ttf);
    font-weight: 700;
}@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Medium.ttf);
    font-weight: 500;
}@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-Regular.ttf);
    font-weight: 400;
}@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat-SemiBold.ttf);
    font-weight: 600;
}@font-face {
    font-family: 'SemiBoldItalic';
    src: url(../font/Montserrat-SemiBoldItalic.ttf);
    font-weight: 600;
}@font-face {
    font-family: 'Nunito';
    src: url(../font/Nunito-Bold.ttf);
    font-weight: 700;
}@font-face {
    font-family: 'Nunito';
    src: url(../font/Nunito-Regular.ttf);
    font-weight: 400;
}@font-face {
    font-family: 'OpenSans';
    src: url(../font/OpenSans-Bold.ttf);
    font-weight: 700;
}@font-face {
    font-family: 'OpenSans';
    src: url(../font/OpenSans-Light.ttf);
    font-weight: 300;
}@font-face {
    font-family: 'OpenSans';
    src: url(../font/OpenSans-Regular.ttf);
    font-weight: 400;
}@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway-Bold.ttf);
    font-weight: 700;
}@font-face {
    font-family: 'Raleway';
    src: url(../font/Raleway-ExtraBold.ttf);
    font-weight: 800;
}@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: 400;
}@font-face {
    font-family: 'Varela';
    src: url(../font/Varela-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'ArchivoNarrow';
    src: url(../font/ArchivoNarrow-Regular.ttf);
    font-weight: 400;
}